
<div class="col-sm-6 col-sm-offset-3">
  <%= link_to "Glucose Reading", new_entry_path, class: "btn btn-default btn-lg btn-block" %>
  <%= link_to "Reading Reports", entry_reports_path, class: "btn btn-default btn-lg btn-block" %>
</div>
<% if @entries_today == 1 %>
  <%= @entries_today %> entry today.
<% else %>
  <%= @entries_today %> entries today.
<% end %>
