<div class="col-sm-6 col-sm-offset-3">
  <%= link_to "Glucose Reading", new_entry_path, class: "btn btn-default btn-lg btn-block" %>
  <%= link_to "Reading Reports", new_entry_path, class: "btn btn-default btn-lg btn-block" %>
</div>
