<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          New Entry
        </h3>
      </div>
      <div class="panel-body">
        <%= form_for @entry do |f| %>
          <span id="new_question_errors"></span>
          <div class="form-group">
            <%= f.text_field :value %>
          </div>
          <%= f.submit "Create Entry", class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
